* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.map_container {
	z-index: -999;
}
.map_container, #map, .map_overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 102vh;
	margin: 0;
	padding: 0;
	
}
.map_overlay {
	background-color: rgba(0,0,0,0.45);
}

#trail_view_container {
	color: white;
	text-align: center;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin-top: 0;
	padding-top: 10px;
}
h2 {
	margin-top: 0;
	padding-top: 8px;
}

a {
	color: white;
}

.star {
	width: 50px;
	height: 50px;
}

.difficulty-img {
	width: 12px;
	height: 12px;
}

#search_results ul {
	list-style: none;
	padding-left: 0;
}

#search_results li {
	display: flex;
}

#search_results li .name {
	display: inline-block;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2px;
}
@media (hover: hover) {
	#search_results li:hover {
		background-color: #555;
		color: white;
		cursor: pointer;
	}
}

#search_form {
	display: flex;
}
#search_form #search_text {
	width: 290px;
	margin-right: 10px;
}
#search_form #search_button {
	
	flex: 1;
}

.search_app_info {
	display: block;
}

input[type="text"] {
	outline: none;
	border: 1px #ffffff solid;
	border-radius: 1px;
	background-color: rgba(28, 28, 31, 0.2);
	color: white;
	padding: 2px 10px;
	font-size: 25px;
	max-width: 300px;
	/*margin-bottom: 55px;*/
}



.app_info {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;	
	text-align: center;
}

.app_info_box {
	display: inline-block;
	width: 100%;
	max-width: 700px;
	margin: auto;
}

#app_info_button {
	cursor: pointer;
}

.margin-sides-sm {
	margin: 0 10px;
}.margin-left-sm {
	margin-left: 10px;
}

.trail_imgs, #pano, .preview {
	max-width: 100%;
}

.ar4x3 {
	width: 100%;
	padding-bottom: 75%;
	position: relative;
}
.ar4x3 > * {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

/*---------------------*/

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) {
	.ar4x3 {
		width: 45%;
		padding-bottom: 32%;
		position: relative;
	}
	.back_button_container {
		display: none;
	}
	.search_app_info {
		display: none;
	}
	
	.trail_info {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-around;
	}
	
	.trail_imgs {
		min-height: 100px;
	}
	#pano, .preview {
		width: auto;
		height: 100%;
	}
	
	#search_view_container {
		overflow-y: auto;
		height: 100%;
	}
	
	html, body {
		height: 100%;
		overflow: hidden;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

.back_button_container {
	position: fixed;
	top: 0;
	left: 0;
	text-align: left;
}
.back_to_search_button {
	display: inline-block;
	margin: 20px;
}
.back_to_search_button::before {
    position: relative;
    /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 1.6em;
    height: 1.6em;
    border-right: 0.3em solid black;
    border-top: 0.3em solid black;
    transform: rotate(-135deg);
    margin-right: 2.0em;
	border-color: #fff;
}

@media (max-width: 1024px) {
	.view {
		display: none;
	}
	.active_view {
		flex: 1;
		display: block;
	}

	.trail_info {
		padding: 50px;
	}
	
	.app_info {
		padding-top: 75px;
	}
	
	#search_view_container {
		width: 100%;
	}
	
	#search_results li .name {
		display: inline-block;
		width: 	60%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 2px;
	}
	#search_results li .dist {
		display: inline-block;
		width: 40%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#search_form #search_text {
		width: 58%;
		margin-right: 10px;
	}
	#trail_view_container, #trail_info {
		width: 100%;
	}
	.trail_specs_div > * {
		display: block;
	}
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
}

.views_container {
	height: 100%;
	display: flex;
	flex-direction: row;
}

#search_view_container {
	padding: 10px;
	min-height: 100%;
	background-color: black;
	color: white;
}

#search_view_container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#search_view_container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#search_view_container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#trail_view_container {
	flex: 1;
	min-height: 100%;
}

.d-none { display: none; } 

.rating {
	margin-top: 1em;
}

/*----*/

/* General button style (reset) */
.btn {
	cursor: pointer; 
	outline: none;
	
	display: inline-block;
	border: 3px solid white;
	
	border-radius: 0;
	-webkit-border-radius:0; 
	-webkit-appearance: none;
	
	text-decoration: none;
	font-size: 120%;
	font-weight: 600;
	padding: 5px 5px;
	
	background-color: white;
	color: black;
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-large {
	padding: 25px 80px;
	margin: 10px 5px; 
}
@media (hover: hover) {
	.btn:hover {
		color: white;
		background-color: black;
	}
}